<configuration>
    <connectionStrings>
        <add name="MyRealEstateAgency"
             connectionString="Server=DESKTOP-134N3VI\SQLEXPRESS;Database=MyRealEstateAgency;Integrated Security=true;TrustServerCertificate=true"
             providerName="Microsoft" />
    </connectionStrings>
</configuration>